# Python / Virtual Environment
staticfiles/
media/
db.sqlite3
__pycache__/
*.pyc
.venv/

# SQLite Datenbank
*.sqlite3

# Django-Geheimnisse / Umgebungsvariablen
.env
.env.local
.env.production

# Let's Encrypt / Certbot Daten & Zertifikate
data/certbot/

# Logs
*.log

# IDE / Editor Einstellungen
.vscode/
.idea/
*.swp

