# Python / Virtual Environment
staticfiles/
media/
private_media/
backups_data/
__pycache__/
*.pyc
.venv/


# Django-Geheimnisse / Umgebungsvariablen
.env
.env.local
.env.production

# Let's Encrypt / Certbot Daten & Zertifikate
data/certbot/

# Logs
*.log

# IDE / Editor Einstellungen
.vscode/
.idea/
*.swp

